title = "Firefence configuration file"
version = "0.1.0"
ascii_art = ""

[config]
logfile_name = "fireFence.log"

[firewall]
id = "firewall"
name = "Firewall"
desc = "Firewall engine that create rules to authorize/block traffic."

    [[firewall.lists]]
    name = "firefence-whitelist"
    chains = ["INPUT", "OUTPUT"]
    action = "ACCEPT"
    timeout = 0

    [[firewall.lists]]
    name = "firefence-blacklist"
    chains = ["INPUT", "OUTPUT"]
    action = "DROP"
    timeout = 0

    [[firewall.lists]]
    name = "firefence-timeout"
    chains = ["INPUT", "OUTPUT"]
    action = "DROP"
    timeout = 60

[engines]
    [engines.pkt-sniffer]
    id = "pkt-sniffer"
    name = "Packet Sniffer"
    desc = "Sniffer engine that capture traffic, can drop request if threath found."
    capture_file_name = "firefence_capture"
    queue_nb = 1

        [[engines.pkt-sniffer.services]]
        id = "ddos-shield"
        name = "DDOS Shield"
        desc = "Detect DDoS attack, if more than threshold, timeout the ip."
        threshold = 200
        timeout = 60
        window = 5
        host = "localhost"
        db_port = 6379
        db_index = 4

        [[engines.pkt-sniffer.services]]
        id = "dlp"
        name = "Data Loss Prevention"
        desc = "Detect data exfiltration, if more than threshold, timeout the ip."
        threshold = 5
        timeout = 500
        window = 120
        host = "localhost"
        db_port = 6379
        db_index = 5

    [engines.log-sniffer]
    id = "log-sniffer"
    name = "Log Sniffer"
    desc = "Sniffer engine that capture log."

        [[engines.log-sniffer.services]]
        id = "fail2ban"
        name = "Fail2Ban"
        desc = "Count failed ssh login attempt, if more than threshold, timeout the ip."
        threshold = 0
        timeout = 0
        log_paths = [
            "/home/gxby/Documents/github/Firefence/legacy/test_auth.log"
        ]
        regex = [
            'Failed password for .* from (?P<ip>\d+\.\d+\.\d+\.\d+)',
            'Invalid user .* from (?P<ip>\d+\.\d+\.\d+\.\d+)',
            'Connection closed by invalid user .* from (?P<ip>\d+\.\d+\.\d+\.\d+)'
        ]

        [[engines.log-sniffer.services]]
        id = "webids"
        name = "Web Intrusion Detection System"
        desc = "Block directory brute force attack, SQL injection, XSS attack, etc. If more than threshold, timeout the ip."
        threshold = 0
        timeout = 0
        log_paths = [
            "/var/log/apache2/error.log"
        ]
        regex = [
            '(?P<ip>\d+\.\d+\.\d+\.\d+) .* \"GET .*\.(php|asp|env|sql|config) HTTP.*\" 404',
            '(?P<ip>\d+\.\d+\.\d+\.\d+) .* \"POST /wp-login\.php HTTP.*\" 200',
            '(\.\./|\%2e\%2e\%2f|/etc/passwd|/bin/sh)'
        ]




